@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-social {
        margin-top: 20px;
    }

    .mobile {
        display: block;
        flex-direction: row;

    }

    .nav-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .desktop {
        display: none;
    }

    .global {
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .icon {
        display: flex;
        gap: 15px;
    }

    .terrain {
        height: 40rem;
        width: 90%;
        background-size: 100% 100%;
        position: relative;
        top: 2rem;
        left: 5%;
    }

    .terrain div {
        background: url(img/bg-player.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 8rem;
        width: 12rem;
    }

    .GK {
        position: absolute;
        left: 45%;
        bottom: 10%;
    }

    .CB-left {
        position: absolute;
        bottom: 20%;
        left: 25%;
    }

    .CB-right {
        position: absolute;
        bottom: 20%;
        left: 55%;
    }

    .RB {
        position: absolute;
        bottom: 30%;
        left: 75%;
    }

    .LB {
        position: absolute;
        top: 50%;
        right: 55%;
    }

    .CMM {
        position: absolute;
        top: 40%;
        left: 42%;
    }

    .CML {
        position: absolute;
        top: 30%;
        left: 15%;
    }

    .CMR {
        position: absolute;
        top: 30%;
        left: 70%;
    }

    .LW {
        position: absolute;
        top: 10%;
        left: 70%;
    }

    .RW {
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .ST {
        position: absolute;
        top: 18%;
        left: 40%;
    }
}

@media (min-width: 769px) and (max-width: 1090px) {
    .table {
        height: 300px;
        width: 250px;
        background-color: #ffd700;
        position: relative;
        top: 30px;
        right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        border-radius: 7px;
    }

    .terrain {
        height: 35rem;
        width: 50%;
        background-size: 100% 100%;
        position: relative;
        top: 2rem;
        left: 5%;
    }

    .terrain div {
        background: url(img/bg-player.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 8rem;
        width: 5rem;
    }

    .global {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5rem;


    }

    .GK {
        position: absolute;
        left: 39%;
        bottom: 10%;
    }

    .CB-left {
        position: absolute;
        bottom: 20%;
        left: 15%;
    }

    .CB-right {
        position: absolute;
        bottom: 20%;
        left: 65%;
    }

    .RB {
        position: absolute;
        bottom: 30%;
        left: 75%;
    }

    .LB {
        position: absolute;
        top: 50%;
        right: 55%;
    }

    .CMM {
        position: absolute;
        top: 40%;
        left: 42%;
    }

    .CML {
        position: absolute;
        top: 30%;
        left: 15%;
    }

    .CMR {
        position: absolute;
        top: 30%;
        left: 70%;
    }

    .LW {
        position: absolute;
        top: 10%;
        left: 70%;
    }

    .RW {
        position: absolute;
        top: 10%;
        left: 10%;
    }

    .ST {
        position: absolute;
        top: 18%;
        left: 40%;
    }
}