* {
    padding: 0%;
    margin: 0%;
}
body {

    background: rgba(0, 0, 0, 0.5) url(img/terran-bj.jpg) no-repeat;
    background-size: cover;


}
img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;

}
.mobile{
    display: none;
}
.links {
    display: flex;
}
a {
    text-decoration: none;
    color: #ffd700;
}
.footer-container {
    display: flex;
}
a:hover {
    display: block;
    box-shadow: 2px 2px 2px rgb(217, 236, 42);
}
footer {
    background-color: black;
    color: #ffd700;
    padding: 40px 20px;
    position: relative;

}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    height: 80px;
    width: 80px;
}

.footer-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.footer-links ul li {
    margin: 0 15px;
}

.footer-links ul li a {
    color: #ffd700;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.footer-links ul li a:hover {
    text-decoration: underline;
    color: #ffd700;
}


.footer-social {
    display: flex;
    justify-content: space-around;
}

.footer-social a {
    color: #ffd700;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #ffd700;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}
::placeholder {
    padding-left: 10%;
}
.global {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 999;
}
.table {
    height: 300px;
    width: 400px;
    background-color: #ffd700;
    position: relative;
    top: 30px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}
h2 {
    font-weight: bolder;
    font-size: 30px;
}
.save {
    color: #ffd700;
    background-color: black;
    font-weight: 200;
    font-size: large;
    border-radius: 7px;
    width: 80px;
    height: 30px;
}
input-formation button ,nav button{
    background-color: #ffd700;
    color: black;
    height: 2.188rem;
    width: 5rem;
    border-radius: 7px;
}
input {
    height: 2rem;
    width: 12rem;
    border-radius:1.5 rem;
}
select{
    height: 2.5rem;
    border-radius: 1.5rem;
}
.popupPlayer {
    height: 90px;
    width: 200px;
    background-color: #ebd767;
    display: none;
    position: fixed;
    top: 10%;
    left: 40%;
    z-index: 1000;
    border-radius: 7px;
    box-shadow: 2px 2px yellow;
    padding-bottom: 10px;
}
.popupPlayer p {
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}
.popupPlayer a {
    color: black;
}
.terrain{
    height: 700px;
    width: 600px;
    background-image: url(img/terrain-player1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 95%;
    position: relative;
    top: 20px;
    left: 10px;
}
.global-terrain{
    display: flex;
    justify-content: center;
    gap: 10rem; 
}

.terrain div {
    background:url(img/bg-player.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}
.GK {
    position: absolute;
    left: 43%;
    bottom: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}


#CB-left {
    position: absolute;
    bottom: 25%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#CB-right {
    position: absolute;
    bottom: 25%;
    left: 53%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.RB {
    position: absolute;
    bottom: 33%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.LB {
    position: absolute;
    top: 53%;
    right: 70%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#CMM {
    position: absolute;
    top: 43%;
    left: 42%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#CML {
    position: absolute;
    top: 35%;
    left: 12%;
    display: flex;
    justify-content: center;
    align-self: center;
}
#CMR{
    position: absolute;
    top: 35%;
    left: 71%;  
    display: flex;
    justify-content: center;
    align-self: center;
}
.LW{
    position: absolute;
    top: 15%;
    left: 71%;    
    display: flex;
    justify-content: center;
    align-self: center;
}
.RW{
    position: absolute;
    top: 15%;
    left: 12%;   
    display: flex;
    justify-content: center;
    align-self: center;
}
.ST{
    position: absolute;
    top: 20%;
    left: 41%; 
    display: flex;
    justify-content: center;
    align-self: center;
}

.log :hover{
    box-shadow: none;
}
 
#search-player {
    padding: 8px 20px 8px 10px;
    border: 2px solid #ffd700;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    outline: none;
    width: 100%; 
    transition: all 0.3s ease-in-out; 
    margin-top: 1.5rem;
}


.bar-search {
    position: relative;
    left: 14rem;
    bottom:2rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}


.bar-search:hover {
    transform: scale(1.2); 
    color: #BDB76B;  
    opacity: 0.8;  
}

#search-player:focus {
    border-color: #BDB76B;  
    transform: scale(1.05); 
}


#search-player:not(:placeholder-shown) + .bar-search {
    transform: scale(1.1); 
    color : #BDB76B;  
}

#search-player:focus {
    transition: all 0.3s ease-in-out; 
} 

  .playersAffich {
    background: rgba(0, 0, 0, 0.5)transparent;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 10%;
    display: none;
    flex-direction: row;
    z-index: 1000;
    position: absolute;
    left: 5%;
    flex-wrap: wrap;
 
    
}
.global-terrain.blurred {
    filter: blur(5px);
    pointer-events: none;
}
 .card {
    width: 300px; 
    margin: 15px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    cursor: pointer; 
    transition: transform 0.3s ease-in-out; 
   
}

.card:hover {
    transform: scale(1.05); 
}


.sup {
    display: flex; 
    padding: 10px;
    background-color: #f4f4f4; 
}

.img img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
    object-fit: cover; 
}

.supInfo {
    margin-left: 15px; 
    flex: 1;
}

.supInfo p {
    margin: 5px 0; 
    font-size: 14px; 
}

.drapeau {
    display: flex;
    justify-content: space-between; 
}

.drapeau img {
    width: 20px; 
    height: 20px;
}

.nom-player {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  
}


.score {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    background-color: #e8e8e8;
}

.score .left, .score .right {
    width: 45%;
}

.score p {
    margin: 5px 0; 
    font-size: 14px;
    text-align: center; 
}
.inf{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.playerSelected{
    height: 500px;
    width: 500px;
    background-color: chocolate;
}

.mobile-menu {
    display: none;
    background-color: black;
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: 30%;
    height: max-content;
    z-index: 999;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}

.mobile-menu ul {
    list-style-type: none;
    padding: 20px;
    text-align: center;
}

.mobile-menu ul li {
    margin: 20px 0;
}

.mobile-menu ul li a {
    color: #ffd700;
    text-decoration: none;
    font-size: 18px;
}

.mobile-menu ul li a:hover {
    text-decoration: underline;
}

.burger-menu {
    font-size: 24px;
    cursor: pointer;
}


.mobile-menu.active {
    display: block;
}
 .mobile .icon{
    display: flex;
    gap: 10px;
 }
 .mobile .icon .user{
    font-size: 1.5rem;
 }

 .signUp:hover {
    background-color: #BDB76B; 
    transform: scale(1.1); 
    box-shadow: 0 4px 8px #BDB76B; 
}

.signUp:active {
    transform: scale(0.95); 
}
.name-squad{
    border:1.5rem;
    text-align: right;
}
button a{
    color: black;
}
#name-squad{
    height: 2.2rem;
    border-radius: 10px;
    border: 2px black;
}

.modal{
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: #ffd700;
    height: 130px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
}